:root {
  --stripWidth: 100vw;
}
body {
  background-color: aliceblue;
}
header {
  width: 100%;
  height: var(--header);
}
img {
  size: 100px 100px;
}

article .img-fluid {
  height: 200px;
  max-width: 100%;
}

article .row {
  margin-top: 0;
}

#bannerimage {
  width: 100%;
  background-image: url("./img/Pizza\ img.jpg");
  height: 200px;
  background-color: purple;
  background-position: center;
}
.card {
  margin-bottom: 10px;
}
#recipieSection {
  margin: 20px;
}
navbar:hover {
  color: tomato;
}
@media only screen and (orientation: portrait) and (max-width: 500px) {
  article {
    width: 500;
  }
}

@media only screen and (max-width: 991px) {
  article > div {
    width: 50vw;
  }
  .card-text {
    display: none;
  }

  .card-title {
    text-align: center;
  }
  body > article .container *,
  ::after,
  ::before {
    box-sizing: content-box;
  }
  body > article .btn {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  body > article .container *,
  ::after,
  ::before {
    box-sizing: content-box;
  }
  body > article .btn {
    display: block;
  }
}
